// .map {
//     background: url(../img/map/map.png) no-repeat;
//     background-size: cover;
//     position: relative;
//     overflow: hidden;
//     min-height: 650px;
// }

.map_container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

