.burgers {
    align-items: center;
    justify-content: center;
    background: #f9b43b; /* Old browsers */
    background: -moz-linear-gradient(top, #f9b43b 0%, #eb8d38 48%, #eb8d38 54%, #f9b43b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f9b43b 0%,#eb8d38 48%,#eb8d38 54%,#f9b43b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f9b43b 0%,#eb8d38 48%,#eb8d38 54%,#f9b43b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 ); /* IE6-9 */
}

.slider__wrap {
    position: relative;
}

.arrow__control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
}

.arrow__left {
    left: -60px;

    @include tablets {
        left: -5px;
    }
}

.arrow__right {
    right: -40px;

    @include tablets {
        right: -5px;
    }
}

.arrow__left-svg {
    height: rem(45px);
    width: rem(30px);
    fill: #fff;
    transform: rotate(90deg);
}

.arrow__right-svg {
    height: rem(45px);
    width: rem(30px);
    fill: #fff;
    transform: rotate(-90deg);
}

.burger-slider__list {
    display: flex;
    flex-wrap: nowrap;
    position: relative; 
    overflow: hidden;
    // margin-bottom: rem(100px);

    @include phones {
        margin-bottom: 0;
    }
}

.burger-slider__item {
    display: flex;

    @include tablets {
        flex-direction: column;
    }
}

.ingredients {
    position: absolute;
    background: #f08c33;
    border-radius: rem(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: rem(90px);
    width: rem(90px);

    &:hover {
        background: #e35028;
        transition: .3s;
    }
}

.ingredients__icon {
    fill: #fff;
    height: rem(50px);
    width: rem(55px);
}    

.ingredients__icon-text {
    font-family: 'gagalin', sans-serif;
    font-weight: 400;
    font-size: rem(14px);
    color: #fff;
    text-transform: uppercase;
}

.ingredients__overlay-block {
    position: absolute;
    left: -9999px;    
    opacity: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: rem(5px);
    width: rem(300px);
    padding: 10px 0px;
}

.ingredients.ingredients--active .ingredients__overlay-block {
    opacity: 1;
    left: 100%;
}

.ingredients__overlay-ava {
    margin-left: rem(20px);
}

.ingredients__overlay-ico {
    height: rem(50px);
    width: rem(42px)!important;
}

.ingredients__overlay-item {
    display: flex;
    align-items: center;
    margin-bottom: rem(10px);
}

.ingredients__overlay-text {
    margin-left: rem(20px);
    font-family: 'ubuntu', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.ingredients__overlay-weight {
    margin: 0 auto;
    margin-right: 20px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.ingredients__close {
    display: none;

    @include tablets {
        display: block;
        position: absolute;
        top: rem(5px);
        left: rem(230px);
    }
}

.ingredients__close-svg {
    height: rem(17px);
    width: rem(17px);
}

.burgers__weight {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .7;

    @include tablets {
        top: 0;
        right: 0;
        left: auto;
        bottom: auto;
    }
}

.burgers__weight-icon {    
    background: url(../img/icons/kkal.svg) no-repeat;
    position: relative;
    height: rem(62px);
    width: rem(62px);
    fill: #fff;
    background-size: contain;
}

.burgers__weight-text {
    font-family: 'gagalin', sans-serif;   
    font-size: rem(20px);
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burgers__weight-about {
    font-family: 'gagalin', sans-serif;   
    font-size: rem(14px);
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.burgers-slider__left {
    display: flex;
    justify-content: center;    
    align-items: flex-end;
    text-align: center;  
    flex: 1; 
}

.burgers-slider__pic {
    // max-width: 95%;
    @include tablets {
        width: 65% !important;
    }

    @include phones {
        width: 50% !important;
    }
}

.burgers-slider__right {
    flex: 1;
    @include tablets {
        text-align: center;
        padding: 0 15%;
    }

    @include phones {
        padding: 0px 7%;
    }

}

.burgers .content__title {
    color: #fff;

    @include tablets {
        padding: 0 10%;
    }
}

.burgers-slider__right-text {
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
    font-size: rem(14px);
    color: #fff;
    line-height: 1.8;
}

.burgers-slider__right-block {
    display: flex;
    align-items: flex-end;

    @include tablets {
        justify-content: center;
    }
}

.burgers-slider__right-price {
    display: flex;
    align-items: flex-end;
} 

.burgers-slider__right-num {
    font-family: 'gagalin', sans-serif;   
    font-size: rem(72px);
    font-weight: 400;
    color: #e35028;
}

.burgers-slider__right-cur {
    font-family: 'gagalin', sans-serif;   
    font-size: rem(30px);
    font-weight: 400;
    color: #e35028;
}

.burgers-slider__right-buy {
    background: #e35028;
    border: 0;
    border-radius: rem(5px);
    color: #fff;
    font-family: 'ubuntu', sans-serif;
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    padding: rem(10px) rem(16px);
    cursor: pointer;
    margin-left: rem(27px);
}
